body {
  background-color: black;
  font-family: 'Orbitron', sans-serif;
  color: white;
}

.buttons #start, #pause, #reset{
  font-size: 1vw;
  color: white;
   background-color: black;
   border-color: white;
   height:50px;
   width:460px;
   cursor:pointer;
}


#changeViewButton {
  position: fixed;
  font-size: 50px;
  z-index: 500;
  right: 20px;
  top: 15px;
  background-color: black;
  border-color: white;
  padding: 7 0 7 7;
  width: 58px;
  height:58px;
  line-height: 27px;

}

#link:hover {
text-decoration: none;
}

#link {
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 40px;
  text-align: center;
}




#updateDisplay {
  width: 120px;
  height: 800px;
  font-size: 20vw;
  line-height: 820px;
  color: white;
  display: inline-block;
  0%{
-webkit-transform: scale(1.2,3); /* Safari and Chrome */
-moz-transform:scale(1.2,3); /* Firefox */
-ms-transform:scale(1.2,3); /* IE 9+ */
-o-transform:scale(1.2,3); /* Opera */
}
}

/*.tests {

}

@-webkit-keyfames pulse {
 	0% {
  	 	-webkit-transform: scale(1);
 	}

 	100% {
   		-webkit-transform: scale(2);
 	}
 }*/
